/* HTML */

body {
    margin: 0%;
    font-family: Helvetica;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 0%;
}

.about h1, h5 {
    color: white;
}

iframe {
    width: 30rem;
    height: 15rem;
}

/* HEAD */

#head {
    width: auto;
    height: 10vh;
    box-sizing: border-box;
}

.btnes {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}

.btn {
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding: 1rem;
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: font-size 0.2s ease;
}

.btn:hover {
    font-size: 1.8rem;
}

/* BODY */

#body {
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
    overflow: auto;
    backdrop-filter: blur(2px);
}

#body::-webkit-scrollbar {
    display: none;
}

.box {
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt {
    width: auto;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

.about {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: 3rem;
    text-align: center;
}

.slider {
    width: 100%;
    overflow: hidden;
  }
  
  .slider-wrapper {
    display: flex;
    width: max-content;
    animation: slide 10s infinite linear;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  .img {
    width: 20rem !important;
    height: 10rem !important;
    box-sizing: border-box;
    margin: 0.5rem;
  }

/* FOOT */

#foot {
    width: 100vw;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
}


